---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: alertops
  labels:
    app: alertops
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: alertops
  template:
    metadata:
      labels:
        app: alertops
    spec:
      containers:
        - name: alertops
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
