---
apiVersion: v1
kind: Service
metadata:
  name: alertops
  labels:
    app: alertops
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: alertops
