---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: github-cache-server
  labels:
    app: github-cache-server
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: github-cache-server
  template:
    metadata:
      annotations:
      {{- range $k, $v := .Values.podAnnotations }}
        {{ $k }}: | {{- toYaml (tpl $v $) | replace "|" "" | nindent 10 }}
      {{- end }}
      labels:
        app: github-cache-server
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ .Values.serviceAccount.name | default "default" }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.dnsConfig.enabled }}
      # custom dns configuration
      dnsConfig:
        {{- if .Values.dnsConfig.nameservers }}
        nameservers:
          {{- toYaml .Values.dnsConfig.nameservers | nindent 10 }}
        {{- end }}
        {{- if .Values.dnsConfig.searches }}
        searches:
          {{- toYaml .Values.dnsConfig.searches | nindent 10 }}
        {{- end }}
        {{- if .Values.dnsConfig.options }}
        options:
          {{- toYaml .Values.dnsConfig.options | nindent 10 }}
        {{- end }}
      {{- end }}
      containers:
        - name: github-cache-server
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}/{{ .Values.image.name }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.env }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: sqlite
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.volumeClaim.name | default "sqlite-claim" }}
          {{- else }}
          emptyDir: {}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
