{{- if .Values.persistence.enabled }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.persistence.volumeClaim.name | default "volume-claim" }}
spec:
  storageClassName: {{ .Values.persistence.volumeClaim.class | default "" }}
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.persistence.volumeClaim.size | default "1Gi" }}
{{- end }}
