replicaCount: 1

image:
  repository: ghcr.io/dawidmalina/alertops
  tag: "0.1.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # cert-manager.io/cluster-issuer: letsencrypt-prod
  host: alertops.example.com
  paths:
    - path: /
      pathType: Prefix
  tls: []
    # - secretName: alertops-tls
    #   hosts:
    #     - alertops.example.com

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
